    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="assets/vendor/libs/jquery/jquery.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="assets/vendor/libs/popper/popper.js"></script>
    <script src="assets/vendor/js/bootstrap.js"></script>
    <script src="assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="assets/vendor/libs/hammer/hammer.js"></script>
    <script src="assets/vendor/libs/i18n/i18n.js"></script>
    <script src="assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="assets/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="assets/vendor/libs/@form-validation/popular.js"></script>
    <script src="assets/vendor/libs/@form-validation/bootstrap5.js"></script>
    <script src="assets/vendor/libs/@form-validation/auto-focus.js"></script>
    <script src="assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>





    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="assets/js/pages-auth.js"></script>
    <script src="assets/js/tables-datatables-extensions.js"></script>
    <script src="assets/js/form-basic-inputs.js"></script>
    <script src="assets/vendor/libs/toastr/toastr.js"></script>
    <script src="assets/js/tables-datatables-advanced.js"></script>

    <script>
      $(document).ready(function() {
        toastr.options = {
          closeButton: true,
          debug: false,
          newestOnTop: false,
          progressBar: true,
          positionClass: 'toast-top-center',
          preventDuplicates: false,
          onclick: null,
          showDuration: '300',
          hideDuration: '1000',
          timeOut: '5000',
          extendedTimeOut: '1000',
          showEasing: 'swing',
          hideEasing: 'linear',
          showMethod: 'fadeIn',
          hideMethod: 'fadeOut'
        };

        function showStoredToastr() {
          const storedSuccessMessage = localStorage.getItem('successMessage');
          const storedErrorMessage = localStorage.getItem('errorMessage');

          if (storedSuccessMessage) {
            toastr.success(storedSuccessMessage);
            localStorage.removeItem('successMessage'); // Hapus pesan sukses dari local storage setelah ditampilkan
          } else if (storedErrorMessage) {
            toastr.error(storedErrorMessage);
            localStorage.removeItem('errorMessage'); // Hapus pesan error dari local storage setelah ditampilkan
          }
        }

        showStoredToastr();

        // // Login form
        // $("form#formLogin").submit(function(e) {
        //   e.preventDefault();

        //   const formData = $(this).serialize();

        //   $.ajax({
        //     type: "POST",
        //     url: "/auth/login",
        //     data: formData,
        //     success: function(response) {
        //       console.log("Response dari server:", response);

        //       // Redirect ke halaman setelah login berhasil
        //       // toastr.success("Berhasil Login");
        //       window.location.href = '/datatables';
        //       localStorage.setItem("successMessage", "Berhasil Login");
        //     },
        //     error: function(xhr, status, error) {
        //       console.error("Error:", error); // Tampilkan error di console untuk debugging
        //       console.error("Server Response:", xhr.responseText); // Tampilkan pesan error dari server
        //       alert("Error: " + xhr.responseText); // Tampilkan pesan error dari server
        //     }
        //   });
        // });



        // Event listener untuk submit product
        $("form#submit-product").submit(function(e) {
          e.preventDefault(); // Menghentikan default form submission

          // Mengambil data form
          const formData = $(this).serialize();

          // Melakukan AJAX POST request untuk submit product
          $.ajax({
            type: "POST",
            url: "/submit-product",
            data: formData,
            success: function(response) {
              // Simpan pesan sukses di local storage
              localStorage.setItem("successMessage", "Produk berhasil disimpan!");
              window.location.reload(); // Muat ulang halaman setelah submit berhasil
            },
            error: function(error) {
              console.error("Error:", error.responseText);
              toastr.error("Terjadi kesalahan saat menyimpan produk. <br>Nomor Order sudah ada.");
            },
          });
        });

        // Event listener untuk edit product
        $(".update-product").click(function() {
          // Mengambil nomor_order dari data-nomor_order atribut tombol
          const nomor_order = $(this).data("nomor_order");

          // Nonaktif tombol setelah diklik
          $(this).prop('disabled', true);

          // Melakukan AJAX POST request untuk edit product
          $.ajax({
            type: "POST",
            url: "/edit-product/" + nomor_order,
            data: $("form#edit-product-" + nomor_order).serialize(),
            success: function(response) {
              // Simpan pesan sukses di local storage
              localStorage.setItem("successMessage", "Produk berhasil diperbarui!");
              window.location.reload(); // Muat ulang halaman setelah edit berhasil
            },
            error: function(error) {
              console.error("Error:", error.responseText);
              toastr.error("Terjadi kesalahan saat memperbarui produk.");
              // Aktifkan kembali tombol jika ada kesalahan
              $(".update-product").prop('disabled', false);
            },
          });
        });

      });
      document.getElementById('logoutButton').addEventListener('click', function(e) {
        e.preventDefault(); // Mencegah tindakan default link

        // Kirim permintaan logout ke server menggunakan fetch
        fetch('/auth/logout', {
            method: 'POST'
          })
          .then(response => {
            if (response.ok) {
              // Jika logout berhasil, tampilkan pesan sukses menggunakan toastr
              localStorage.setItem("successMessage", "Logout berhasil!");
              window.location.href = '/'; // Ganti dengan URL tujuan setelah logout

            } else {
              // Jika terjadi kesalahan saat logout, tampilkan pesan error
              toastr.error('Failed to logout');
            }
          })
          .catch(error => {
            console.error('Error:', error);
            toastr.error('Error occurred during logout');
          });
      });
      document.getElementById('logoutButtonNavbar').addEventListener('click', function(e) {
        e.preventDefault(); // Mencegah tindakan default link

        // Kirim permintaan logout ke server menggunakan fetch
        fetch('/auth/logout', {
            method: 'POST'
          })
          .then(response => {
            if (response.ok) {
              // Jika logout berhasil, tampilkan pesan sukses menggunakan toastr
              localStorage.setItem("successMessage", "Logout berhasil!");
              window.location.href = '/'; // Ganti dengan URL tujuan setelah logout

            } else {
              // Jika terjadi kesalahan saat logout, tampilkan pesan error
              toastr.error('Failed to logout');
            }
          })
          .catch(error => {
            console.error('Error:', error);
            toastr.error('Error occurred during logout');
          });
      });
    </script>

    </body>

    </html>