    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="assets/vendor/libs/jquery/jquery.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="assets/vendor/libs/popper/popper.js"></script>
    <script src="assets/vendor/js/bootstrap.js"></script>
    <script src="assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="assets/vendor/libs/hammer/hammer.js"></script>
    <script src="assets/vendor/libs/i18n/i18n.js"></script>
    <script src="assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="assets/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="assets/vendor/libs/@form-validation/popular.js"></script>
    <script src="assets/vendor/libs/@form-validation/bootstrap5.js"></script>
    <script src="assets/vendor/libs/@form-validation/auto-focus.js"></script>
    <script src="assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>




    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="assets/js/pages-auth.js"></script>
    <script src="assets/js/tables-datatables-extensions.js"></script>
    <script src="assets/js/form-basic-inputs.js"></script>
    <script src="assets/vendor/libs/toastr/toastr.js"></script>
    <script src="assets/js/tables-datatables-advanced.js"></script>


    <script>
      $(document).ready(function() {
        toastr.options = {
          closeButton: true,
          debug: false,
          newestOnTop: false,
          progressBar: true,
          positionClass: 'toast-top-center',
          preventDuplicates: false,
          onclick: null,
          showDuration: '300',
          hideDuration: '1000',
          timeOut: '5000',
          extendedTimeOut: '1000',
          showEasing: 'swing',
          hideEasing: 'linear',
          showMethod: 'fadeIn',
          hideMethod: 'fadeOut'
        };

        // Fungsi untuk menampilkan pesan toastr dari local storage
        function showStoredToastr() {
          const storedMessage = localStorage.getItem('successMessage');
          if (storedMessage) {
            toastr.success(storedMessage);
            localStorage.removeItem('successMessage'); // Hapus pesan dari local storage setelah ditampilkan
          }
        }

        showStoredToastr();

        // Login form
        // $("form#formLogin").submit(function(e) {
        //   e.preventDefault();

        //   const formData = $(this).serialize();
        //   console.log("Form data:", formData);

        //   $.ajax({
        //     type: "POST",
        //     url: "/auth/login",
        //     data: formData,
        //     success: function(response) {
        //       console.log("Response dari server:", response);

        //       // Redirect ke halaman setelah login berhasil
        //       localStorage.setItem("successMessage", "Berhasil Login");
        //       window.location.href = '/datatables';
        //     },
        //     error: function(xhr, status, error) {
        //       console.error("Error:", error); // Tampilkan error di console untuk debugging
        //       console.error("Server Response:", xhr.responseText); // Tampilkan pesan error dari server
        //       alert("Error: " + xhr.responseText); // Tampilkan pesan error dari server
        //     }
        //   });
        // });

        $("form#formLogin").submit(function(e) {
          e.preventDefault();

          const formData = $(this).serialize();

          $.ajax({
            type: "POST",
            url: "/api/login",
            data: formData,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function(response) {
              if (response.success) {
                // Login berhasil, redirect ke halaman /datatables
                window.location.href = "/datatables";
              } else {
                // Login gagal
                toastr.error(response.message);
              }
            },
            error: function(xhr, status, error) {
              console.error("Error:", error);
              console.error("Server Response:", xhr.responseText);
              toastr.error("Terjadi kesalahan saat login: " + xhr.responseText);
            }
          });
        });

        $("form#formSignup").submit(function(e) {
          e.preventDefault();

          const formData = $(this).serialize();

          $.ajax({
            type: "POST",
            url: "/auth/register", // Rute untuk pendaftaran
            data: formData,
            success: function(response) {
              console.log(response);
              // Redirect ke halaman setelah pendaftaran berhasil
              localStorage.setItem("successMessage", "Berhasil Register");
              window.location.href = '/';
            },
            error: function(error) {
              console.error("Error:", error.responseText);
              alert("Error registering user");
            }
          });
        });

        // Event listener untuk submit product
        $("form#submit-product").submit(function(e) {
          e.preventDefault(); // Menghentikan default form submission

          // Mengambil data form
          const formData = $(this).serialize();

          // Melakukan AJAX POST request untuk submit product
          $.ajax({
            type: "POST",
            url: "/submit-product",
            data: formData,
            success: function(response) {
              // Simpan pesan sukses di local storage
              localStorage.setItem("successMessage", "Produk berhasil disimpan!");
              window.location.reload(); // Muat ulang halaman setelah submit berhasil
            },
            error: function(error) {
              console.error("Error:", error.responseText);
              toastr.error("Terjadi kesalahan saat menyimpan produk. <br>Nomor Order sudah ada.");
            },
          });
        });

        // Event listener untuk edit product
        $(".update-product").click(function() {
          // Mengambil nomor_order dari data-nomor_order atribut tombol
          const nomor_order = $(this).data("nomor_order");

          // Nonaktif tombol setelah diklik
          $(this).prop('disabled', true);

          // Melakukan AJAX POST request untuk edit product
          $.ajax({
            type: "POST",
            url: "/edit-product/" + nomor_order,
            data: $("form#edit-product-" + nomor_order).serialize(),
            success: function(response) {
              // Simpan pesan sukses di local storage
              localStorage.setItem("successMessage", "Produk berhasil diperbarui!");
              window.location.reload(); // Muat ulang halaman setelah edit berhasil
            },
            error: function(error) {
              console.error("Error:", error.responseText);
              toastr.error("Terjadi kesalahan saat memperbarui produk.");
              // Aktifkan kembali tombol jika ada kesalahan
              $(".update-product").prop('disabled', false);
            },
          });
        });

      });
    </script>

    </body>

    </html>